<nav>
    <a href="/"><img src="https://cdn.datacompass.com/assets/images/interview-templates/admin/datacompass_logo.svg" alt="Data Compass Logo"></a>
    <form id="header_search_form" action="/" method="POST" data-is_processing="0">
        <button type="submit" class="search_icon"></button>
        <input type="text" name="keyword_search" id="search_input" placeholder="Search candidate/template">
    </form>
    <div class="dropdown profile_dropdown_new">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="" alt="">
                <span class="profile_initials">J</span>
                <span class="profile_name">
                    Jhaver Gurtiza
                </span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item account_link" href="/">Account</a>
            <a class="dropdown-item logout_link" href="/">Log Out</a>
        </div>
    </div>
</nav>